---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Who I am and where I'm from"
>
	<p>
		Born in Washington state and moved to Alaska when I was 9.
		I have very few memories of before I came to Alaska, because at the time,
		my mom and biological fater had other things more important to them than my siblings and I, 
		drugs. My biological father had some friends who got him into doing drugs
		then he, in turn, got my mom into them.
	<br>
		When I was 9 years old, my mom got clean and moved my siblings and I away from my biological father.
		She brought us to <strong>Alaska</strong>, to live with my stepdad, who was a much better father to me
		than my bio dad. He gave me and my siblings the lives we deserved.
		The 13 years we had with him after moving home, they were the best of my life. 
		Cancer may have gotten the best of you dad, but you got the best of me. All of my books will be for you.
	</p>

	<p>
		Sorry, I got a little off topic there. 
		<br>
		When I was about 12 years old I found a book in my middle school library,
		Cherub by Robert Muchamore. I started reading that book and I just could not stop.
		Thankfully it was over the weekend becuase I pulled an all nighter reading,
		I finished that book in one night. I didn't go to sleep until 6 in the morning.
		Monday I went in to the library and checked out the next book, then the next, and so on.
		When the library wouldn't have the next book, the librarian would go out and buy it for me.
		That started me down the path to where my teachers started taking my books at the beginning
		of every class, and I started hiding my books so they couldn't take them.
		That year my sister got me the Percy Jackson and the Olympians series for Christmas. 
		I finished them a couple of days later.
	</p>

	<p>
		By High School I had become a bibliophile, or "someone who collects books or has a great love of books."
		My all time favorite authors, the people I take great inspiration from, Sarah J. Maas and Sherrilyn Kenyon
		Throne of Glass by SJM is my all time favorite series, I have read it more times than I can count.
		Chronicles of Nick by Sherrilyn Kenyon would have to come in a close second.
		The magic, the secret lives, I love it so much. 
	</p>

	<p>
		I attribute my want to become an author to SJM, and Sherrilyn, but most of all, Mrs Gredigan. 
		If she hadn't helped spark my love of reading, I wouldn't be where I am today.
	</p>
</Layout>
